*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: rgb(34, 34, 34);
    height: 100vh;
}

.container{
    width: 800px;
    padding: 2rem;
}

.dice {
    height: 80px;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    background-color: rgb(247, 247, 230);
}